<launch>

    <arg name="map_size_x" default="80.0"/>
    <arg name="map_size_y" default="80.0"/>
    <arg name="map_size_z" default=" 5.0"/>



    <arg name="cx" value="321.04638671875"/>
    <arg name="cy" value="243.44969177246094"/>
    <arg name="fx" value="387.229248046875"/>
    <arg name="fy" value="387.229248046875"/>


    <node pkg="plan_env" type="tobe_grid"   name="tobe_grid"    output="screen" 	respawn="true">

        <remap from="~grid_map/odom" to="/Odometry"/>
        <remap from="~grid_map/cloud" to="/cloud_registered"/>


        <param name="grid_map/resolution"      value="0.1" /> 
        <param name="grid_map/map_size_x"   value="$(arg map_size_x)" /> 
        <param name="grid_map/map_size_y"   value="$(arg map_size_y)" /> 
        <param name="grid_map/map_size_z"   value="$(arg map_size_z)" /> 
        <param name="grid_map/local_update_range_x"  value="4.0" /> 
        <param name="grid_map/local_update_range_y"  value="4.0" /> 
        <param name="grid_map/local_update_range_z"  value="3.0" /> 
        
        <!-- 0.2 -->
        <param name="grid_map/obstacles_inflation"     value="0.0" /> 
        
        <param name="grid_map/local_map_margin" value="10"/>
        <param name="grid_map/ground_height"        value="-1"/>
        <!-- camera parameter -->
        <param name="grid_map/cx" value="$(arg cx)"/>
        <param name="grid_map/cy" value="$(arg cy)"/>
        <param name="grid_map/fx" value="$(arg fx)"/>
        <param name="grid_map/fy" value="$(arg fy)"/>
        <!-- depth filter -->
        <param name="grid_map/use_depth_filter" value="true"/>
        <param name="grid_map/depth_filter_tolerance" value="0.15"/>
        <param name="grid_map/depth_filter_maxdist"   value="5.0"/>
        <param name="grid_map/depth_filter_mindist"   value="0.2"/>
        <param name="grid_map/depth_filter_margin"    value="2"/>
        <param name="grid_map/k_depth_scaling_factor" value="1000.0"/>
        <param name="grid_map/skip_pixel" value="2"/>
        <!-- local fusion -->
        <param name="grid_map/p_hit"  value="0.65"/>
        <param name="grid_map/p_miss" value="0.35"/>
        <param name="grid_map/p_min"  value="0.12"/>
        <param name="grid_map/p_max"  value="0.90"/>
        <param name="grid_map/p_occ"  value="0.80"/>
        <param name="grid_map/min_ray_length" value="0.1"/>
        <param name="grid_map/max_ray_length" value="4.5"/>

        <param name="grid_map/virtual_ceil_height"   value="2.9"/>
        <!-- 这是啥 -->
        <param name="grid_map/visualization_truncate_height"   value="1.8"/>   
        <param name="grid_map/show_occ_time"  value="false"/>
        <param name="grid_map/pose_type"     value="1"/>  
        <param name="grid_map/frame_id"      value="world"/>
        <!-- <param name="grid_map/frame_id"      value="camera_init"/> -->
     </node>

</launch>